# Analisis de datos con python para datos sobre las rocas lunares

## Carga de datos

In [1]:
import pandas as pd

rock_samples = pd.read_csv('./data/rocksamples.csv')

In [5]:
rock_samples.head(10)

      ID   Mission     Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11     Soil  Unsieved       125.8         88.36
1  10002  Apollo11     Soil  Unsieved      5629.0         93.73
2  10003  Apollo11   Basalt  Ilmenite       213.0         65.56
3  10004  Apollo11     Core  Unsieved        44.8         71.76
4  10005  Apollo11     Core  Unsieved        53.4         40.31
5  10008  Apollo11     Soil  Unsieved        89.0          5.75
6  10009  Apollo11  Breccia  Regolith       112.0         97.27
7  10010  Apollo11     Soil  Unsieved       491.0         91.03
8  10011  Apollo11     Soil  Unsieved        82.6         62.01
9  10014  Apollo11     Soil  Unsieved        50.0          0.00

In [6]:
rock_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2229 non-null   int64
 1   Mission       2229 non-null   object
 2   Type          2229 non-null   object
 3   Subtype       2226 non-null   object
 4   Weight (g)    2229 non-null   float64
 5   Pristine (%)  2229 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 104.6+ KB

A partir de esta salida, se ve que durante las misiones Apolo se han obtenido 2229 muestras. Si examina una muestra de los datos, verá que cada fila contiene lo siguiente:

ID: el identificador único que la NASA usa para realizar el seguimiento de la muestra.

Mission: la misión responsable de recuperar la muestra.

Type: el tipo de muestra (tipo de roca u otra clasificación).

Subtype: una clasificación de tipo más específica.

Peso (g): peso original de la muestra en gramos.

Pureza (%): porcentaje que queda de la muestra (parte de la muestra se usa durante la investigación).

## Limpieza de los datos